#sidenav{
    position: absolute;
    top: 0em;
    margin-top: 0em;
    left: 0;
    height: 100%;
    width: 200px;
    background-color:white;
    color:  rgb(26, 96, 165);
    transition-timing-function: linear;
    transition-duration: 200ms;
    
}
#sidenav.hide{
    left: -200px;
}
.app-name{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
    background-color: rgb(26, 96, 165);
    color: white;
    font-size: 20px;
    text-decoration: underline;
    
}
#sidenav .nav-item{
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 1px #ddd;
}
#sidenav .nav-item:hover{
    padding-left: 1em;
    border-bottom:solid 4px rgb(26, 96, 165);
    
    
}